
.hero-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
  min-height: 776px;
}

.hero-foreground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center bottom;
  z-index: 2;
  pointer-events: none;
}

.static-underlay-container {
  position: absolute;
  bottom: 0%; 
  left: 40%;
  width: 25%; 
  height: 100%;
  z-index: 1; 
  overflow: hidden;
}

.static-noise {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 300%;
  background-image: url("/images/lumisade.png");
  filter: contrast(350%) brightness(150%) grayscale(100%);
  animation: staticLoop 0.15s steps(2) infinite;
}

@keyframes staticLoop {
  0% { transform: translate(0,0); }
  25% { transform: translate(-5%, 5%); }
  50% { transform: translate(5%, -5%); }
  75% { transform: translate(-2%, -8%); }
  100% { transform: translate(0,0); }
}

.hero-content {
  position: absolute;
  z-index: 3;
  top: 35%;
  right: 5%;
  transform: translateY(-50%);
}

.hero-title {
  color: white;
  font-family: 'Gotham Rounded', 'Inter', sans-serif;
  font-size: clamp(5rem, 6vw, 22rem);
  font-weight: 800;
  line-height: 0.95;
  text-align: right;
  margin: 0;
  margin-top: 40px;
  
  text-transform: none;
}

.hero-message {
  color: white;
  font-family: 'Gotham Rounded', 'Inter', sans-serif;
  font-size: clamp(2rem, 4vw, 17rem);
  font-weight: 800;
  line-height: 0.95;
  text-align: right;
  margin: 0;
  text-transform: none;
  margin-right: 30px;
}

@media (max-width: 1300px) {
  .hero-content {
    top: 8%;
    right: 50%;
    transform: translateX(50%);
    width: 100%;
  }
  .hero-title {
    margin-top: 30px;
    text-align: center;
  }
  .hero-message {
    text-align: center;
  }
  .static-underlay-container {
    left: 40%;
    width: 50%;
    bottom: 30%;
  }

    .hero {
    width: 100%;
    height: 100vh;
    background-image: url("/images/katse_ylos_kuva2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }
}

@keyframes fadeInFromBlack {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.static-underlay-container {
  /* lumisade */
  animation: fadeInFromBlack 3s ease-in 1 forwards;
  opacity: 0;
  z-index: 1;
}

.hero-foreground {
  /* Kuva */
  animation: fadeInFromBlack 1s ease-out 0s forwards;
  opacity: 0;
  z-index: 2;
}

.hero-content {
  /* Teksti */
  animation: fadeInFromBlack 5s ease-out 3.0s forwards;
  opacity: 0; /* Alussa piilossa */
  z-index: 3;
}
