:root {
  --side-padding: 75px;  /* Oletusarvo isolle näytölle */
  --vertical-padding: 20px;
}

@media (max-width: 768px) {
  :root {
    --side-padding: 20px; /* Arvo muuttuu automaattisesti mobiilissa */
    --vertical-padding: 15px;
  }
}


.opetellaan {
  margin-bottom: 25px;
  background-color: #fff;
}


.opetellaan-pics {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 15px;
   padding: var(--vertical-padding) var(--side-padding);
}

.left-pics {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.pic {
  border-radius: 10px;
}

.right-pic {
  border-radius: 10px;
}

.pic2 {
  border-radius: 10px;
}

.opetellaan-title {
  font-family: 'Gotham Rounded', 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 32px;
  padding: 40px var(--side-padding) 20px var(--side-padding);
  padding-top: 40px;
  color: #08060d;
}

@media (min-width: 768px) {
  .opetellaan-pics {
    flex-direction: row;
  }
  .left-pics {
    flex: 4;
  }
    
  .right-pic {
    flex: 7;
  }
}
