
.header {
    font-family: 'Gotham Rounded:Bold', 'Inter', sans-serif;
    background-color: #0074BF;
    width: 100%;            
    display: flex;
    justify-content: center; 
    
   
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 3660px;      
    padding: 15px 35px; 
}

.logo{
    display: flex;
}

.info_icon{
    height: 34px;
    width: 34px;

}

.nav {
    display: flex;
    gap: clamp(30px, 4vw, 200px);
}

.nav a{
    font-family: 'Gotham Rounded', sans-serif;
    color: white;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}


.nav a:hover {
    opacity: 0.7;
}

.logo-icon{
    height: 30px;
    width: auto;
}

.logo-icon:hover{
    opacity: 0.7;
}

.info{
    font-family: 'Gotham Rounded', sans-serif;
    font-weight: 700;
    color: white;
}