.tekemiset-section {
    display: flex;
    flex-direction: column;
    padding: 20px 75px;
    width: 100%;
    border-bottom: 1px solid black;

}

.tekemiset-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    align-items: flex-start;
    padding-bottom: 20px;
    padding-top: 20px;
}

.tekemiset-main-title {
    font-family: 'Gotham Rounded', 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: black;
    margin: 0;
    padding-top: 10px;
}

.tekemiset-intro {
    font-family: 'Gotham Rounded', 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: black;
    width: 750px;
    margin: 0;
    justify-content: flex-start;
}

.intro-highlight {
    color: #0074bf;
    font-size: 20px;
}

.intro-text {
    color: #333;
    font-weight: 400;
}


.tekemiset-kortit {
    display: flex;
    gap: 35px;
    align-items: center;
    min-width: max-content;
    padding-bottom: 20px;
}

.tekemiset-kortti {
    background-color: #f2f5f7;
    height: 450px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
    width: 340px;
}

.tekemiset-kuva {
    height: 201.42%;
    left: 0;
    top: -0.03%;
    width: 100%;
    max-width: none;
}

.tekemiset-title {
    font-family: 'Gotham Rounded', 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: black;
    padding: 10px 10px;
    margin: 0;
    line-height: normal;
}

.tekemiset-description {
    font-family: 'Gotham Rounded', 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #333;
    width: 293px;
    margin: 0;
    line-height: normal;
    padding: 10px 10px;
}

.tekemiset-desc {
    font-family: 'Gotham Rounded', 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: black;
    margin: 0;
    line-height: normal;
}

.tekemiset-kortti-wrapper {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}