/* index.css */

:root {
  /* Väripaletti ja asetukset (Pidetään nämä!) */
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --accent: #aa3bff;
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;

  font: 18px/145% var(--sans);
  color: var(--text);
  background: var(--bg);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* Tummaa teema ei käytössä. */
/* @media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
  }
} */

body {
  margin: 0;
  width: 100%;

}

img {
  max-width: 100%;
  height: auto;
}

#root {
  
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Tehdään otsikoista oletuksena siistejä */
h1, h2, h3 {
  color: var(--text-h);
  margin-top: 0;
}

@media (max-width: 768px) {
  :root {
    --side-padding: 20px;
    --footer-v-padding: 30px;
    --font-size-nav: 16px;
    --font-size-desc: 14px;
  }
}